/* exporting two fonts for this project */

@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Color Theme Swatches in RGBA */

:root {
  --colorFont: rgba(244, 244, 244, 1);
  --colorBody: rgb(167, 167, 167);
  --colorBG: rgba(114, 114, 114, 1);
  --colorIcon: rgba(63, 63, 63, 1);
  --colorDetail: rgba(13, 13, 13, 1);
  --boxShadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  --fastHandFont: 'Fasthand', cursive;
  --robotoFont: 'Roboto', sans-serif;
}

/* Basic set up */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: calc(100% - 20px);
  font-size: 16px;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: 360px 3fr;
  width: 100%;
  height: 100%;
}

/* Side bar settings */
.wrapper .sideContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--colorBG);
  box-shadow: var(--boxShadow);
  padding: 10px;
}

.sideContent .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colorFont);
  font-family: var(--robotoFont);
  font-size: 2.5rem;
  text-transform: uppercase;
}

.sideContent .logo img {
  width: 140px;
  transition: 0.05s;
}

.sideContent .logo img:hover {
  transform: scale(1.1);
}

/* SideBar Form setup */

.sideForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  color: var(--colorFont);
  font-family: var(--robotoFont);
  text-shadow: var(--boxShadow);
}

.sideContent form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 15px;
  margin-top: 30px;
  box-sizing: border-box;
}

/* 
    Making the span place holder change position  
transitioning the span place holder to stay inside the form point of view, till the user click it, then it goes up in the y line by 25px 

*/


.sideContent form .inputBlock{
    position: relative;
}

.sideContent form .inputBlock span.placeHolder{
    position: absolute;
    left: 0;
    transition: all 0.3s;
    transform-origin: 0% 0%;
    pointer-events: none;
}

.inputBlock input:valid + span.placeHolder,
.inputBlock input:focus + span.placeHolder{
    transform: scale(0.8) translateY(-25px);
}

.inputBlock input:focus{
    border-bottom: 2px dotted var(--colorFont) !important;
}

.validationSection{
   
}

/* set the color of date type input to transparent so it will not show the default input */
input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}

input:focus {
  outline: none;
}

.input-transparent {
  border: none;
  width: 100%;
  background-color: var(--colorBG);
  border-bottom: 2px solid black;
  color: var(--colorFont);
  font-size: 1.2rem;
}

.wrapper .main {
  background-color: var(--colorBody);
}

footer {
  height: 40px;
  background-color: var(--colorDetail);
  box-shadow: var(--boxShadow);
}
